body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    color: #f0f0f0;
    overflow-y: scroll; /* Allow vertical scrolling */
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.linear-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linear-item {
    background-color: #494846;
    border-radius: 18px;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #494846;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 20px;
}

.menu-item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.menu-item.current {
    color: #00A9FA;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Increased gap for better spacing */
    max-width: 600px; /* Limit the width of the section */
    margin: 0 auto; /* Center the section horizontally */
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0; /* Remove any default margins */
}

.link {
    color: #00A9FA;
    text-decoration: none;
    display: block; /* Ensure links are on separate lines */
    margin-top: 5px; /* Add a bit of space above the links */
}

.link:hover {
    text-decoration: underline;
}
