body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    color: #f0f0f0;
    overflow-y: scroll; /* Allow vertical scrolling */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.linear-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linear-item {
    background-color: #494846;
    border-radius: 12px;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #494846;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 20px;
}

.menu-item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.menu-item.current {
    color: #00A9FA;
}

.project-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.project-image {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the image round */
    object-fit: cover;
}

.description, .skills {
    font-size: 14px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
}
