body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #0a0a23;
    margin: 0;
    padding: 0;
}

.project-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    background-color: #1c1c3a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.project-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.project-header img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.project-header h1 {
    font-size: 2.5em;
    margin: 0;
}

.project-description {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.project-info {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.project-info ul {
    list-style: none;
    padding: 0;
}

.project-info ul li {
    margin-bottom: 10px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.carousel img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .project-header img {
        width: 250px;
    }

    .project-header h1 {
        font-size: 4em;
    }
}

@media (max-width: 768px) {
    .project-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-header img {
        width: 150px;
        margin-bottom: 20px;
    }

    .project-header h1 {
        font-size: 3em;
        text-align: center;
    }

    .project-description, .project-info {
        font-size: 1em;
    }

    .carousel img {
        width: 100%;
    }
}

@media (max-width: 480px) {
 project-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-header img {
        width: 150px;
        margin-bottom: 20px;
    }

    .project-header h1 {
        font-size: 2em;
        text-align: center;
    }

    .project-description, .project-info {
        font-size: 1em;
    }

    .carousel img {
        width: 100%;
    }
}